.btn_search{
    background: #029ddd !important; 
    color: #fff;
    font-weight: 900;
}
.jumbotron {
    background-image: url('../img/backgroundblue.png');
  }

 

.content1 ul{
    list-style: none;
    padding: 10px;
    margin: 0px;

}

.content1 ul li{
    text-decoration: none;
    list-style: none;
    float: left;
}

.content1 ul li a{
    list-style-type: none;
    text-decoration: none;
    float: left;
}

