.navbar{
    background: #029ddd !important;
}
.login:hover, .signup:hover{
    background: #036f9d;
}

.navbar-toggler:hover{
    background-color: rgb(18, 18, 136);

}

.login,.signup{
    background-color:  #029ddd !important;
}
